
.row {
  box-sizing: border-box;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  margin-left: $gutter / -2;
  margin-right: $gutter / -2;
}

.row:after {
  clear: both;
  content: '';
  display: table;
  width: 100%;
}

// No gutters.
.row.no-gutter, .no-gutter .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
