* {
    border: 0;
    box-sizing: border-box;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}

a {
    color: #000;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}

b, strong {
    font-weight: bold;
}

footer {
    text-align: right;
}

h1 {
    font-size: 4em;
    line-height: 1.5;
    margin: .75em auto;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    line-height: 1;
    margin: 1em auto;
    top: .375rem;
}

html {
    font: normal 100%/1.5 Calibri, sans-serif, serif;
    overflow-y: scroll;
}

li {
    display: list-item;
    margin-left: 2em;
}

p {
    margin: 1.5em 0;
}

table {
    border-collapse: collapse;
    display: table;
    width: 100%;
}

table.fixed {
    table-layout: fixed;
}

td, th {
    padding: .75em;
    text-align: inherit;
}

th {
    font-weight: bold;
}

thead {
    color: #fff;
    background: #666;
}

thead th {
    border-bottom: 2px solid #333;
}

tbody tr {
    background: #eee;
}

tbody tr:nth-of-type(odd) {
    background: #ddd;
}

[class*="col-"], .col {
    background: rgba(255, 0, 0, .125);
    overflow: hidden;
    outline: 1px solid rgba(255, 0, 0, .5);
    outline-offset: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row {
    background: rgba(0, 0, 255, .125);
}

[class*="col"]:empty::before, [class*="row"]:empty::before {
    content: "." attr(class);
    font-size: 75%;
    line-height: 2;
}